.sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* max-width: 95%; */
    max-height: 60px;
    /* overflow: auto; */
    overflow: hidden;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    transition: max-height 0.5s;
    margin-top: 20px;
}

.menu__checkbox{
    display: none;
}

.open-close{
    cursor: pointer;
}

.menu__checkbox:checked ~ .sources{
    transition: max-height 0.5s;
    max-height: 30vh;
    overflow: auto;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    /* min-width: 180px; */
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}



